@import "../../styles/block-mixins.scss";

.main-form {
    @include flex_column();
    width: 510px;
    .main-form__request-input {
        position: relative;
        flex: 1;
        @include flex_row($justify: space-between, $align: flex-end);
        min-width: 230px;
        max-width: 100%;
        width: 100%;
    }

    .main-form__buttons {
        width: 100%;
        @include flex_row($justify: space-around);
        padding: 2% 10% 0;
    }
    .main-form__hidden-input {
        display: none;
    }
    .main-form__button {
        @include button();
        margin: 20px 0;
        &.disabled {
            opacity: 0.5;
            background-color: gray;
            cursor: not-allowed;
        }
        &:not(.disabled):hover {
            background-color: $button-hover-color;
        }
    }
}
