@import "../../styles/block-mixins.scss";

.transcribe-block {
    @include flex_column();
    width: 50%;
    height: 100%;
    border-right: 2px solid $separator-color;

    .transcribe-block__button {
        @include button();
    }
    .transcribe-block__list {
        @include flex_column($justify: flex-start);
        width: 100%;
        padding: 20px 20px;
        flex: 1;
        .transcribe-block__item {
            width: 100%;
            @include flex_row($justify: space-between);
            @include text();
            .transcribe-block__alias {
                @include text();
            }
        }
    }
    .transcribe-block__empty {
        @include labels-text();
    }
}
